@use '../abstracts' as *;

.fylo__footer {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-1;
  padding-inline: 2rem;
  padding-block: 3rem;
  color: #fff;
  font-family: $ff-body;

  @media only screen and (min-width: 48rem) {
    flex-direction: row;
    justify-content: space-between;
  }

  &-logo {
    margin-block-end: 2rem;

    path {
      fill: #fff;
    }
  }

  &--col-1 {
    margin-block-end: 3rem;

    @media only screen and (min-width: 48rem) {
      margin-block-end: 0rem;
    }
  }

  &--col-2 {
    margin-block-end: 3rem;

    @media only screen and (min-width: 48rem) {
      margin-block-end: 0rem;
    }
  }
}

.contact-info {
  address {
    font-style: normal;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;

  &:not(:last-child) {
    margin-block-end: 1rem;
  }
}
