@use '../abstracts' as *;

.fylo__header {
  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  padding-block-start: 1rem;
  margin-block-end: 5rem;

  @media only screen and (min-width: 48rem) {
    padding-inline: 3rem;
    margin-block-end: 2rem;
  }

  @media only screen and (min-width: 64rem) {
    padding-block-start: 2rem;
  }

  &--logo {
    width: 5rem;
    margin-inline-end: auto;

    @media only screen and (min-width: 64rem) {
      width: 8rem;
    }
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;

    &-item {
      font-family: $ff-headings-cta-headnav;

      &:not(:last-child) {
        margin-inline-end: 1rem;
      }
    }
  }
}
