@use '../abstracts' as *;

.fylo__header {
  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  padding-block-start: 1rem;
  margin-block-end: 5rem;

  &--logo {
    width: 5rem;
    margin-inline-end: auto;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;

    &-item {
      font-family: $ff-headings-cta-headnav;

      &:not(:last-child) {
        margin-inline-end: 1rem;
      }
    }
  }
}
