@use '../abstracts/' as *;

.btn {
  color: $neutral-color-1;
  font-family: $ff-body;
  font-weight: 600;
  padding-block: 0.5rem;
  border-radius: 3px;

  &--get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color-1;
    font-size: 0.85rem;
    font-weight: 400;

    @media only screen and (min-width: 48rem) {
      width: 30%;
    }
  }

  &--see-fylo-works {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      font-family: $ff-body;
      color: $accent-color-2;
      gap: 0.5rem;
      margin-block-end: 2rem;
      border-bottom: 1px $accent-color-2 solid;
    }

    // &:hover {
    //   color: red;
    // }

    // &:hover g use {
    //   fill: red;
    // }
  }
}
