@use '../abstracts/' as *;

.btn {
  color: $neutral-color-1;
  font-family: $ff-body;
  font-weight: 600;
  padding-block: 0.5rem;
  border-radius: 3px;

  &--get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color-1;
    font-size: 0.85rem;
    font-weight: 400;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    border: none;

    cursor: pointer;
    &:hover {
      background-color: lighten($accent-color-1, $amount: 10%);
    }

    &-intro {
      @media only screen and (min-width: 48rem) {
        width: 30%;
      }
    }

    &-cta {
      @media only screen and (min-width: 48rem) {
        padding-inline: 1rem;
        width: 60%;
      }

      @media only screen and (min-width: 64rem) {
        width: 45%;
        padding-block: 1rem;
      }
      @media only screen and (min-width: 90rem) {
        width: 35%;
        padding-block: 1rem;
      }
    }
  }

  &--see-fylo-works {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
      font-size: 0.9rem;
      font-family: $ff-body;
      color: $accent-color-2;
      gap: 0.5rem;
      margin-block: 2rem;
      border-bottom: 1px $accent-color-2 solid;

      @media only screen and (min-width: 48rem) {
        margin-block: 1rem;
        align-self: start;
      }
    }

    &:hover {
      color: lighten($accent-color-2, $amount: 25%);
    }

    &:hover g use {
      fill: lighten($accent-color-2, $amount: 25%);
    }
  }
}
